/* * {
  background-color: #2f0;
} */
.fOFptH{
  padding: 10px 0 !important;
}
.cTgcFX{
  padding: 10px 0 !important;
}
.kaGIhB{
  padding: 10px 0 !important;
}
.iwLMgv{
  background-color: #fbf8f3 !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gWfzAA {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
}
.jQMQWL{
  width: auto !important;
}
.gWfzAA p{
  font-size: 20px;
  font-weight: 600;
}
.gWfzAA .epdPoJ{
  text-decoration: none;
  color: #ffa31a;
  font-weight: 700;
  padding: 0 !important;
}
.hqlASh {
  background-color: #3f1569 !important
}
.hqlASh:focus {
  background-color: gray !important
}
.cTgcFX:hover{
  color: #ffa31a !important;
}
.backbtn{
  text-decoration: none;
}
.sc-eNQAEJ {
  padding: 8px !important;
  border-radius: 5px;
}
.hvtuvo:hover {
  color: #ffa31a !important;
}
.already-booked{
  color: red;
}